---
layout: focus/base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  123
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  456

  <!-- Categories -->
  {% if page.categories %}
    <div class="categories">
      <h4>Categories:</h4>
      <ul>
        {% for category in page.categories %}
          <li>
            <a href="/categories/{{ category | slugify }}/">{{ category }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <!-- Tags -->
  {% capture site_tags %}
    {% for tag in site.tags %}{{ tag | first }}
        {% unless forloop.last %},{% endunless %}
    {% endfor %}
  {% endcapture %}
  {% assign tags_list = site_tags | split:',' | sort_natural %}
  <ul>
    {% for item in (0..site.tags.size) %}
        {% unless forloop.last %}
            {% capture this_word %}{{ tags_list[item] | strip_newlines }}{% endcapture %}
            <li><a href="#{{ this_word}}" class="tag"><span class="tag-name">{{ this_word }}</span> <span class="count">{{ site.tags[this_word].size }}</span></a></li>
        {% endunless %}
    {% endfor %}
  </ul>
  
</article>
