
  <h2>PAGES</h2>
		{% for page in site.pages %}
			<div><a href="{{ page.url | relative_url }}">{{ page.title }}</a> - {{ page.url }}</div>
			<div>
				{{ page.excerpt | markdownify | strip_html | truncate: 20 }}
			</div>
		{% endfor %}


<hr>

<h2>GUIDES</h2>
		{% for guide in site.guides %}
			<div><a href="{{ guide.url | relative_url }}">{{ guide.title }}</a> - {{ guide.url }}</div>
			<div>
				{{ guide.excerpt | markdownify | strip_html | truncate: 20 }}
			</div>
		{% endfor %}

		
<hr>