
h1, h2, h3{
	border: 2px solid $pop;
}

body::before{
	background-image: url($bg-image);
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: 0.5;	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}