<!-- Breadcrumbs -->
{% assign paths = page.url | split: '/' %}

<nav id="breadcrumbs">
		{% if paths.size == 0 or page.layout == 'home' or page.layout == '#{ site.mytheme_alias }/home' %}

			<!-- Index page 
			<span>{{- site.data.focus.locales[include.lang].tabs.home | capitalize -}}</span>
			-->

		{% else %}

			{% for item in paths %}
				
				<!-- First breadcrumbs item -->
				{% if forloop.first %}
					<span>
						<!-- Home link --> 
						<a href="{{ '/' | relative_url }}">
						{{- site.data.focus.locales[include.lang].tabs.home | capitalize -}}
						</a>
					</span>
							
					<!-- Archive page category/tag -->
					{% assign layout_to_check = site.mytheme_alias | append: '/post' %}
					{% if page.layout == layout_to_check %} 			
						{% if page.categories.size > 0 %}
								{% assign first_category = page.categories[0] %}
								&nbsp;&rsaquo;<span>
									<a href="/categories/{{ first_category | slugify }}/">{{ first_category }}</a>
								</span>
						{% endif %}				
					{% endif %}
				
				<!-- Last breadcrumbs item -->
				{% elsif forloop.last %}
				
					<!-- Tabs not in use currently -->	
					{% if page.collection == 'tabs' %}
							&nbsp&rsaquo;<span>Tabs : {{ site.data.focus.locales[include.lang].tabs[item] | default: page.title }}</span>
							
					{% else %}
							<!-- Page title -->			
							&nbsp&rsaquo;<span> {{ page.title }}</span>
					
					{% endif %}

				<!-- Archive page category/tag -->
				{% elsif page.layout == 'category' or page.layout == 'tag' %}
				<span>
					<a href="{{ item | append: '/' | relative_url }}">
					Archive page : {{- site.data.focus.locales[include.lang].tabs[item] | default: page.title -}}
					</a>
				</span>		  
				{% endif %}
				
			{% endfor %}
				
		{% endif %}
</nav>