{% assign paths = page.url | split: '/' %}

{% if paths.size == 0 or page.layout == 'home' or page.layout == 'focus/home' %}

	<!-- index page -->
	<span>Index page : {{ site.focus.data.locales[include.lang].tabs.home | capitalize }}</span>

{% else %}

	for loop
	{% for item in paths %}
		{{ item }}
		<!-- First breadcrumbs item -->
        {% if forloop.first %}
	          <span>
				<!-- Home link --> 
	            <a href="{{ '/' | relative_url }}">
	              forloop first : {{- site.data.focus.locales[include.lang].tabs.home | capitalize -}}
	            </a>
	          </span>
          
				<!-- Archive page category/tag -->
        		{% if page.layout == 'post' %}
			
					{% if page.categories.size > 0 %}
						  	{% assign first_category = page.categories[0] %}
							<span>first category : {{ first_category }}</span>
					{% endif %}				
	        	{% endif %}
		
		<!-- Last breadcrumbs item -->
        {% elsif forloop.last %}
		
			<!-- Tabs not in use currently -->	
	        {% if page.collection == 'tabs' %}
		            <span>Tabs : {{ site.data.focus.locales[include.lang].tabs[item] | default: page.title }}</span>
					
			{% else %}
					<!-- Page title -->			
		     		<span>forloop : last{{ page.title }}</span>
	        
			{% endif %}

		<!-- Archive page category/tag -->
        {% elsif page.layout == 'category' or page.layout == 'tag' %}
          <span>
            <a href="{{ item | append: '/' | relative_url }}">
              Archive page : {{- site.data.focus.locales[include.lang].tabs[item] | default: page.title -}}
            </a>
          </span>		  
		{% endif %}
		
	{% endfor %}
		
{% endif %}